{% extends 'base.html.twig' %}


{% block body %}
<div class="container" style="background:darkblue">
  <h1 class="text-center" style="color:white">Bienvenue Dans Votre Bibliothèque :)</h1>
</div>

{% endblock %}
