{% extends "::base.html.twig" %}



{% block body %}

<form class=""  method="post">
  <input type="text" name="title" value="{{book.title}}">
  <input type="text" name="isbn" value="{{book.isbn}}">
  <input type="text" name="NbPages" value="{{book.NbPages}}">
  <input type="submit" name="Enregistrer" value="OK">
</form>

{% endblock %}
