{% extends "::base.html.twig" %}



{% block body %}
{% block css %}
<style >


.logo{
  width: 150px;
  height: 150px
}
</style>
{% endblock %}

<h2>List des producteurs</h2>

{% for p in producers %}

<div>

{{p.name}}
{% if p.logo %}
  <img class="logo" src="{{asset('/img/logo/') ~ p.logo }}" alt="">
  {% endif %}
</div>

{% endfor %}
{% endblock %}
