{% extends 'base.html.twig' %}


{% block body %}
<h2>Fruits comestibles</h2>
<table class="table table-striped table-bordered">
  {%for f in fruits %}
  {% if f.comestible %}
  <tr>

      <td>{{ f.name }}</td>
      

  </tr>
  {% endif %}
  {% endfor %}
</table>
{% endblock %}
